*{
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	scroll-behavior: smooth;
}
.container{
padding: 20px;
background: orange;
font-size: 20px;
letter-spacing: 2px;
}
#container{
	background: red;
	user-select: none;
	max-zoom: inherit;

}